
/* font face */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import "container.css";
@import "flex-container.css";
*{ font-family: 'Quicksand', sans-serif;;}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

main {
    margin-top: 16px;
}
